// ========================================================================
// [font] | 폰트
// ========================================================================
@font-face {
	font-family: "JUAWebFont";
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	src:
	local("BM JUA"),
  url("https://xcdn.home-learn.com/homelearn/fonts/BMJUA/BMJUA.woff") format("woff");
}
