// ========================================================================
// [content] |  컨텐츠 - 왼쪽
// ========================================================================
.homevatar{
  .section-makeup{
    @include top-left(0, 0);
    width: 570px;
    height: 100%;
    .section-makeup-wrap{
      padding: 15px 20px;
    }
    //------------------------------------------------------------------
    .cone-area{
      position: relative;
      display: inline-block;
      height: 28px;
      line-height: 28px;
      padding: 0 15px 0 34px;
      border-radius: 15px;
      border: 1px solid #c0a4ff;
      font-size: 0;
      &::before{
        @include top-left(50%, 4px);
        @include bg-img-size(46px/2, 46px/2, $imgmakeupPath, 'i-coin-1@2x');
        margin-top: -12px;
        content: "";
      }
      .ca-num{
        font-family: $sub-font;
        font-size: 21px;
        color: #7146d3;
        vertical-align: baseline;
      }
      .ca-txt{
        margin-left: 6px;
        font-size: 17px;
        font-weight: $base-bold;
        vertical-align: baseline;
      }
    }
    //------------------------------------------------------------------
    .makeup-area{
      position: relative;
      margin: 0 auto;
      margin-top: 18px;
      text-align: center;
      .makeup-area-wrap{
        position: relative;
        display: inline-block;
        width: 350px;
        height: 380px;
        border-radius: 50px;
        background-color: #dcfdfa;
        overflow: hidden;
      }
      .img-makeup-item{
        @include top-left(0, 0);
      }
    }
    //------------------------------------------------------------------
    // 꾸미기 영역: 구매한 아이템
    .item-area{
      position: relative;
      margin: 0 50px;
      // 텍스트
      .item-txt-inner{
        margin-top: 15px;
        margin-bottom: 7px;
        .item-txt{
          line-height: 1;
          font-size: 17px;
          font-weight: $base-bold;
          color: #666;
          &.txt-select-item{
            position: relative;
            padding-left: 30px;
            &::before{
              @include top-left(50%, 0);
              @include bg-img-size(40px/2, 40px/2, $imgmakeupPath, 'i-item-cart@2x');
              margin-top: -10px;
              content: "";
            }
          }
          &.txt-select-cone{
            @include top-right(0, 0);
          }
        }
        .t-highlight{
          margin-left: 5px;
          font-weight: $base-extrabold;
          color: #ff6400;
        }
      }
      // 슬라이더
      .item-slider{
        position: relative;
        // 오른쪽
        &::after{
          @include top-right(0, 0);
          @include bg-img-size(58px/2, 202px/2, $imgmakeupPath, 'bg-item-right@2x');
          content: "";
          z-index: 10;
        }
        // 왼쪽
        &.on{
          &::before{
            @include top-left(0, 0);
            @include bg-img-size(58px/2, 202px/2, $imgmakeupPath, 'bg-item-left@2x');
            content: "";
            z-index: 10;
          }
        }
        // 마지막 슬라이더에서 삭제
        &.end{
          &::after{
            display: none;
          }
        }
        .img-item{
          position: relative;
          width: 85px;
          height: 90px;
          margin: 0 auto;
          overflow: hidden;
          text-align: center;
          &::before{
            @include top-left(50%, 50%);
            display: inline-block;
            width: 85px;
            height: 90px;
            margin-top: -45px;
            margin-left: -42px;
            border-radius: 20px;
            background-color: #f5f6f7;
            content: "";
          }
          .img-thumnail{
            position: relative;
            display: inline-block;
          }
        }
        .btn-item{
          @include top-right(6px, -6px);
          width: 30px;
          height: 30px;
          border: 1px solid #dddddd;
          border-radius: 50%;
          background-color: #ffffff;
          &.btn-delete{
            @extend %ir;
            &::before{
              @include top-left(50%, 50%);
              @include bg-img-size(22px/2, 22px/2, $imgmakeupPath, 'i-item-close@2x');
              margin-top: -6px;
              margin-left: -6px;
              content: "";
            }
          }
        }
        .price-item{
          @include bottom-left(7px, 0);
          width: 100%;
          margin: 0 auto;
          text-align: center;
          font-size: 0;
          span{
            font-size: 14px;
            font-weight: $base-bold;
          }
          .t-num{
            margin-left: 3px;
          }
          .t-free{
            color: #888888;
          }
        }
      }
      // 선택아이템 없음
      .item-no-select-inner{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 106px;
        margin: 0 auto;
        text-align: center;
        .txt{
          color: #999999;
          font-size: 17px;
          font-weight: $base-bold;
        }
      }
    }
    //------------------------------------------------------------------
    // 꾸미기 영역: 버튼
    .btn-area{
      @include bottom-left(25px, 0);
      width: 100%;
      margin: 0 auto;
      text-align: center;
      .btn-area-wrap{
        display: inline-block;
        font-size: 0;
      }
      .btn-makeup{
        position: relative;
        display: inline-block;
        height: 45px;
        line-height: 41px;
        padding: 0 25px 0 40px;
        margin: 0 6px;
        border-radius: 22px;
        border: 2px solid #d1bdff;
        font-weight: $base-extrabold;
        font-size: 21px;
        color: #7146d3;
        &.btn-retry{
          &::before{
            @include top-left(50%, 12px);
            @include bg-img-size(38px/2, 44px/2, $imgmakeupPath, 'i-btn-retry@2x');
            margin-top: -11px;
            content: "";
          }
        }
        &.btn-save{
          &::before{
            @include top-left(50%, 12px);
            @include bg-img-size(38px/2, 30px/2, $imgmakeupPath, 'i-btn-save@2x');
            margin-top: -9px;
            content: "";
          }
        }
      }
    }
    //------------------------------------------------------------------
  }
  .item-slider-inner{
    .swiper {
      text-align: center;
      font-size: 18px;
      background: #fff;
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }
    // .swiper-wrapper{
    //   &.mode-center{
    //     justify-content: center;
    //   }
    // }
    .swiper-slide{
      position: relative;
      width: auto;
      padding-top: 10px;
    }
    // .swiper-slide img {
    //   display: block;
    //   width: 100%;
    //   height: 100%;
    //   object-fit: cover;
    // }
  }
}
